.app-login {
  display: flex;
  align-items: center;

  background-color: rgb(123, 185, 236);
  font-weight: 500;
  border-bottom: 1px solid #eeeef1;

  position: sticky;
  top: 0px;
  width: 100vw;
}
